body {
    background-image: url("https://i.pinimg.com/564x/89/0f/fb/890ffbac25fc1e1530f31e8778b69d46.jpg");
    margin-top: 100px;
    text-align: center;

}

.block {
    width: 1105px;
    height: 290px;
    background-color: #91886e;
    text-align: center;
    margin: 30px;
    margin-top: 100px;
    margin-left: 225px;
    font-size: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
    font-size: 5em;
    color: white;
    -webkit-text-stroke: 1px black;
}

a {
    margin-top: 100px;
    font-size: 2em;
    color: white;
}